@charset "utf-8";
/* Dieses CSS Document beinhaltet hauptsächlich "Designregeln", die mit der Darstellung des Inhalts zu tun haben wie zum Beispiel die abgerundeten Ecken. Das Layout wird in den Bootstrap-Dokumenten festgelegt. */

html {
	font-family:Verdana, Geneva, sans-serif;
}

body {
	margin: 0px auto;
	line-height:1.6em;
	background:#fbfbfb;
}
		
#content {
	background:#fdfdfd;
	box-shadow:2px -2px 8px #CCCCCC,
				-2px 2px 8px #CCCCCC;
/*	width:900px;
	max-width:500px;*/
/*	min-height:400px;*/
	margin:0 auto;
	padding:8px;
	border:#999 1px solid;
	border-radius: 10px;


}

#footer {
/*	width:900px;*/
	margin:10px auto;
	text-align:center;

}

.kommentarfeld {
	max-width:205px;
	max-height:125px;
	min-width:205px;
	min-height:50px;

}

.kommentarfeld_gross {
	max-width:415px;
	max-height:125px;
	min-width:205px;
	min-height:125px;

}

#canvas {
	margin:0 auto;
}

.uebersicht {
	border:#666 1px solid;
	padding:5px;
	border-radius: 10px; 
	
}

.abgerundet {
	border-radius: 10px; 
}

#hide {
	display:none;
}

#error {
	color:#F00;
	text-align:center;
	size:24px;
	margin-bottom:10px;
}
		
.delete_icon {
	background:none;
	border:none;
}